---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "_variables.scss";
@import "_reset-src.scss";
@import "_flex-grid.scss";

// Custom styles

a {
    color: $text-color;
}

img {
    max-width: 750px;
    height: auto;
}

.post-link:hover {
    text-decoration: underline;
}

.page {
    background-color: $background-color;
    color: $text-color;
    font-family: $content-font;
    line-height: 1.5;
    overflow: hidden;
}

.main {
    margin:  auto;
    max-width: $max-width;
}

.site-title {
    font-family: $title-font;
}

.post-listing {
    font-family: $title-font;
    margin-bottom: 10px;
}

.post-date-container {
    padding-right: 10px;
    color: $grey-color;
}

.callback {
    padding-top: 30px;
    text-align: center;
}
