---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "_variables.scss";
@import "_reset-src.scss";
@import "_flex-grid.scss";

// Our variables
$title-font: "Lato", sans-serif;
$content-font: "Old Standard TT", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;

// Custom styles

a {
    text-decoration: none;
    color: $text-color;
}

.post-link:hover {
    text-decoration: underline;
}

.page {
    background-color: $background-color;
    color: $text-color;
    font-family: $content-font;
    line-height: 1.5;
}

.page-heading {
    text-align: center;
}

.site-header-content {
    margin: 0 auto;
    max-width: $max-width;
}

.main {
    margin: 0 auto;
    max-width: $max-width;
}

.site-title {
    font-family: $title-font;
}

.post-listing {
    font-family: $title-font;
    margin-bottom: 10px;
}

.post-date-container {
    padding-right: 10px;
    color: $grey-color;
}

.callback {
    padding-top: 30px;
    text-align: center;
}
