---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "_variables.scss";
@import "_reset-src.scss";
@import "_flex-grid.scss";
@import "_sizing.scss";
@import "_underline.scss";

// Custom styles

html {
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

a {
    color: $text-color;
    @include link-underline($background-color, $text-color, $grey-color);
}

.content {
    overflow: hidden;
    p {
        font-size: 1em;
        line-height: 1.5em;
        margin: 0 0 1.5em 0;
    }
    span {
        font-size: 1em;
        line-height: 1.5em;
        margin: 0 0 1.5em 0;
    }
    h1 {
        @extend .extra-large;
    }
    h2 {
        @extend .large;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

.post-link {
    h2 {
        margin: 0;
    }
}

.post-meta {
    color: $grey-color;
    p {
        line-height: 1.3333em;
        display: inline-block;
        vertical-align: bottom;
        margin: 0;
    }
}

.post-listing {
    font-family: $title-font;
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

.post-heading {
    margin-bottom: 2em;
}

.site-title {
    font-family: $head-font;
    font-size: 2em;
    text-decoration: none;
    margin-top: 2em;
}

.header-link {
    margin-top: 1.5em;
    a {
        text-decoration: none;
    }
}

.post-list {
    margin-top: 2em;
}

.site-header-content {
    margin-top: 2em;
    margin-bottom: 2em;
}

.content {
    overflow: hidden;
}

.page {
    background-color: $background-color;
    color: $text-color;
    font-family: $content-font;
    margin: 0 1.5em;
}

.main {
    margin: auto;
    max-width: $max-width;
}

.callback {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
