body {
	color: #DFDFDF;
	background-color: #333;
}

.theme-base-0d .sidebar {
border-left: #66d9ef 3px solid;
background-color: #111;
}

.sidebar h1 {
	text-align:center;
	margin-bottom:10%;
}

.sidebar a {
    color: #DFDFDF;
}

.sidebar-about h1 {
    margin-top: 0px;
    font-family: "Crimson Text",serif;
    font-size: 2.0rem;
}

.sidebar img {
	margin-left: auto;
	margin-right: auto;
}

.page-title, .post-title, .post-title a {
    color: #DFDFDF;
}


h1, h2, h3, h4, h5, h6 {
    color: #DFDFDF;
}
