<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Hello! I'm glad you've decided to take a look at the source, the whole site is hosted on github,
    so if you have any suggestions, take a look at https://github.com/JordanRobinson/JordanRobinson.github.io -->

    <title>{% page.title %} | Jordan Robinson</title>
    
    <base href="{% site.url %}">
    <link rel="stylesheet" href="styles.css">

    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <meta name="description" content="{% site.description %}">
    <meta name="url" content="{% site.url %}">

    <link rel="canonical" href="{% page.url %}">

</head>
