<header class="site-header">
    <div class="site-header-content">
        <a href='/' class="site-title extra-large">
            Jordan Robinson / Developer
        </a>
        <ul class="header-links row">
            <li class="col-xs-6 col-md-3 header-link">
                <a href="https://jordanrobinson.co.uk">
                    About
                </a>
            </li>
            <li class="col-xs-6 col-md-3 header-link">
                <a href="https://github.com/jordanrobinson">
                    Github
                </a>
            </li>
            <li class="col-xs-6 col-md-3 header-link">
                <a href="https://stackoverflow.com/users/story/1666167?view=Cv">
                    Stack Overflow
                </a>
            </li>
            <li class="col-xs-6 col-md-3 header-link">
                <a href="https://blog.jordanrobinson.co.uk/feed.xml">
                    RSS
                </a>
            </li>
        </ul>
    </div>
</header>
