<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="http://jordanrobinson.co.uk">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <a href="https://github.com/JordanRobinson">
      <img src="http://jordanrobinson.co.uk/assets/images/android.jpg" alt="alt text">
    </a>
    <a href="http://blog.jordanrobinson.co.uk">
      <img src="http://jordanrobinson.co.uk/public/images/android.jpg" alt="alt text">
    </a>
    <a href="http://careers.stackoverflow.com/jordanrobinson">
      <img src="http://jordanrobinson.co.uk/public/images/android.jpg" alt="alt text">
    </a>

    <a href="https://www.linkedin.com/in/jordanrobinsonuk">
      <img src="http://jordanrobinson.co.uk/public/images/android.jpg" alt="alt text">
    </a>
    <a href="https://play.google.com/store/apps/developer?id=Jordan%20Robinson">
      <img src="http://jordanrobinson.co.uk/public/images/android.jpg" alt="alt text">
    </a>
    <a href="mailto:me@jordanrobinson.co.uk">
      <img src="http://jordanrobinson.co.uk/public/images/android.jpg" alt="alt text">
    </a>

    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "page" %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
  </nav>

  <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
</div>
</div>
