.extra-large {
    font-size: 1.5em;
    line-height: 1.3333em;
    margin-top: 1em;
    margin-bottom: 0;
}

.large {
    font-size: 1.25em;
    line-height: 1.3333em;
    margin-top: 1.3333em;
    margin-bottom: 0;
}

.medium {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0;
}