$max-width: 800px;

// colour palette

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$brand-color:      #378eb0;

$text-color:       #333;
$background-color: #fafaff;

// dark mode colour palette

$dark-text-color: #fbf1c7;
$dark-background-color: #282828;
$dark-link-color: #458588;

$dark-post-meta-color: #ebdbb2;


// text settings

$head-font: "Raleway", sans-serif;
$title-font: "Lato", sans-serif;
$content-font: "Open Sans", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;