$max-width: 800px;

// colour palette

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$brand-color:      #378eb0;

$text-color:       #333;
$background-color: #fafaff;