<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="layout-reverse theme-base-0d background">


    {% include sidebar.html %}

    <div class="content container">
	<div class="head">
		<h1>Jordan Robinson / Developer</h1>
	</div>
      {{ content }}
    </div>

    		<div class="links">
		<ul>
			<li class="row">
				<a class="icon icon-stack-overflow link" href="http://careers.stackoverflow.com/jordanrobinson">
					<div class="icon-text">
						Stack Overflow
					</div>
				</a>
			</li>

			<li class="row">
				<a class="icon icon-newspaper link" href="https://blog.jordanrobinson.co.uk">
					<div class="icon-text">
						Blog
					</div>
				</a>
			</li>

			<li class="row">
				<a class="icon icon-github link" href="https://github.com/JordanRobinson">
					<div class="icon-text">
						Github
					</div>
				</a>
			</li>

			<li class="row">
				<a class="icon icon-mail link" href="mailto:me@jordanrobinson.co.uk">
					<div class="icon-text">
						Email
					</div>
				</a>
			</li>

			<li class="row">
				<a class="icon icon-android link" href="https://play.google.com/store/apps/developer?id=Jordan%20Robinson">
					<div class="icon-text">
						Android Apps
					</div>
				</a>
			</li>
		</ul>

		</div>

  </body>
</html>
