<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" dir="ltr"> <!--<![endif]-->
    {% include head.html %}
    <body class="page">
        <main class="main">
            {% include header.html %}
            <div class="content">
                {{ content }}
            </div>
        </main>
    </body>
</html>